wandb
catboost
duckdb
ipykernel
ipywidgets
jupyterlab
matplotlib
modal-client
numpy
pandas
scikit-learn
gate-drift
seaborn
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=5.29.6 # not directly required, pinned by Snyk to avoid a vulnerability
