wandb
catboost
duckdb
ipykernel
ipywidgets
jupyterlab
matplotlib
modal-client
numpy
pandas
scikit-learn
gate-drift
seaborn
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
